<footer class="footer">
    <div class="footer-content">
        <div class="footer-nav">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#experience">Experience</a>
            <a href="#certifications">Certifications</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="footer-social">
            <a href="https://github.com/AlwangaJanet"><img src="../../assets/211904_social_github_icon.svg" alt="GitHub Icon"></a>
            <a href="https://www.linkedin.com/in/janet-alwanga/"><img src="../../assets/5296501_linkedin_network_linkedin logo_icon.svg" alt="LinkedIn Icon"></a>
            <a href="https://www.instagram.com/thriftsbyavie/"><img src="../../assets/3225191_app_instagram_logo_media_popular_icon.svg" alt="Instagram Icon"></a>
        </div>
        <div class="footer-info">
            <p>&copy; 2026 Janet Alwanga. All rights reserved.</p>
            <p>Nairobi, Kenya</p>
            <p><a href="mailto:alwanga.janet1@gmail.com">alwanga.janet1&#64;gmail.com</a> | <a href="tel:+254700081656">+254700081656</a></p>
        </div>
    </div>
</footer>
