<section class="about">
    <h2>About Me</h2>
    <div class="about-content">
      <img src="../../assets/about.jpg" alt="Profile Image" class="profile-image">
      <p>
        Junior software developer, AI enthusiast, and ICT professional with a Bachelors degree in Business <br>
        and Information Technology. Hands-on experience in full-stack web development using Angular, <br>
        Node.js, and MSSQL. Proficient in UI/UX design with Figma and skilled in cloud computing and <br>
        containerization using AWS and Docker. Passionate about continuous learning, innovation, and <br>
        delivering solutions that improve user satisfaction and optimize performance.
      </p>
    </div>
  </section>
  
  