<section class="about">
    <h2>About Me</h2>
    <div class="about-content">
      <img src="../../assets/about.jpg" alt="Profile Image" class="profile-image">
      <p>
  AI-focused junior software developer with hands-on experience in data annotation, full-stack <br>
  web development, and machine learning projects. Passionate about improving human-AI <br>
  interactions through ethical, high-quality training data and intelligent design. Skilled in cloud <br>
  computing, UI/UX design, and cross-functional collaboration. Committed to continuous learning <br>
  and contributing to AI systems that support global knowledge and user-centric solutions.
</p>
    </div>
  </section>
  
  