<section class="about">
    <h2>About Me</h2>
    <div class="about-content">
      <img src="../../assets/about.jpg" alt="Profile Image" class="profile-image">
      <p>
        Aspiring software developer and AI enthusiast with a <br>
        strong foundation in Information Technology. <br>
Passionate about leveraging modern technologies to build <br> innovative solutions, <br>
I have hands-on experience with frameworks like Angular and <br> technologies such as Node.js, Express, and MSSQL. <br>
I would like to enhance my technical and soft skills by taking up <br> challenging assignments and expanding my knowledge, <br>
ensuring that customers are served and that they receive high <br> quality service.
      </p>
    </div>
  </section>
  
