<section class="hero">
  <nav class="hero-nav">
    <img src="../../assets/thriftsbyAvie_Logo.jpg" alt="Logo" class="logo" />
    <ul>
      <li><a [routerLink]="['/home']" fragment="home">Home</a></li>
      <li><a [routerLink]="['/about']" fragment="about">About</a></li>
      <li><a [routerLink]="['/skills']" fragment="skills">Skills</a></li>
      <li><a [routerLink]="['/projects']" fragment="projects">Projects</a></li>
      <li><a [routerLink]="['/services']" fragment="services">Services</a></li>
      <li><a [routerLink]="['/contact']" fragment="contact">Contact</a></li>
    </ul>
  </nav>

  <div class="hero-content">
    <h1>Hi There! My Name is Janet Alwanga</h1>
    <h2>I'm a <span class="highlight">Junior Full Stack Developer</span></h2>
    <a href="https://drive.google.com/file/d/1VKfYWNNytL_T2kJdRoNxIbP2heEiMDty/view?usp=sharing" download class="btn">Download CV</a>
  </div>
</section>

  
  
