<div class="contact-section">
  <h2 class="section-title">Contact</h2>
  <p>If you have any questions or inquiries, feel free to get in touch with me. I'm here to assist you with any information you need.</p>

  <ul class="contact-info">
    <li>
      <a href="mailto:janetjanto3@gmail.com">
        <img src="../../assets/mail_24dp_FF5100_FILL0_wght400_GRAD0_opsz24.svg" alt="Email Icon">
        janetjanto3&#64;gmail.com
      </a>
    </li>
    <li>
      <a href="tel:+254700081656">
        <img src="../../assets/call_24dp_FF5100_FILL0_wght400_GRAD0_opsz24.svg" alt="Phone Icon">
        +254700081656
      </a>
    </li>
    <li>
      <a href="https://wa.me/+254700081656">
        <img src="../../assets/3225179_app_logo_media_popular_social_icon.svg" alt="WhatsApp Icon">
        +254700081656
      </a>
    </li>
  </ul>

  <div class="social-icons">
    <a href="https://github.com/AlwangaJanet"><img src="../../assets/211904_social_github_icon.svg" alt="GitHub Icon"></a>
    <a href="https://www.linkedin.com/in/janet-alwanga-20965423b/"><img src="../../assets/5296501_linkedin_network_linkedin logo_icon.svg" alt="LinkedIn Icon"></a>
    <a href="https://www.instagram.com/thriftsbyavie/"><img src="../../assets/3225191_app_instagram_logo_media_popular_icon.svg" alt="Instagram Icon"></a>
  </div>
</div>

  
  
