<section class="skills">
  <h2>My Skills</h2>
  <div class="skills-grid">
    <div class="skill">
      <img src="../../assets/JavaScript-logo.png" alt="JavaScript" />
      <div class="skill-info">
        <p>95%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 95%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/HTML-logo.png" alt="HTML" />
      <div class="skill-info">
        <p>100%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/CSS-Logo.jpg" alt="CSS" />
      <div class="skill-info">
        <p>95%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 95%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/Angular-logo.jpeg" alt="Angular" />
      <div class="skill-info">
        <p>90%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 90%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/Typescript-logo.png" alt="TypeScript" />
      <div class="skill-info">
        <p>95%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 95%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/nodejs-logo.jpg" alt="Node.js" />
      <div class="skill-info">
        <p>90%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 90%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/mssql-logo.png" alt="mssql" />
      <div class="skill-info">
        <p>95%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 95%"></div>
        </div>
      </div>
    </div>
    <div class="skill">
      <img src="../../assets/Java-Logo.png" alt="java" />
      <div class="skill-info">
        <p>80%</p>
        <div class="skill-bar">
          <div class="bar-fill" style="width: 80%"></div>
        </div>
      </div>
    </div>
  </div>
</section>

