<div class="services-section">
    <h2 class="section-title">Services</h2>
    <p>Create your digital products with my end-to-end product design and development services catering to your ever-evolving needs.</p>
  
    <div class="services-grid">
        <div class="service">
        <h3><img src="../../assets/phone_iphone_24dp_FF5100_FILL0_wght400_GRAD0_opsz24.svg" alt="Android Icon"> Android Development</h3>
        <ul>
          <li>Database Management with Firebase</li>
          <li>Responsive applications</li>
          <li>User Interface Design with XML</li>
        </ul>
      </div>
  
      <div class="service">
        <h3><img src="../../assets/store_24dp_FF5100_FILL0_wght400_GRAD0_opsz24.svg" alt="Store Icon"> ThriftysByAvie Store</h3>
        <ul>
          <li>We sell and deal with ladies' attires and also deal with unisex sneakers all around Kenya.</li>
        </ul>
      </div>
  
      <div class="service">
        <h3><img src="../../assets/code_24dp_FF5100_FILL0_wght400_GRAD0_opsz24.svg" alt="Web Icon"> Web Development</h3>
        <ul>
          <li>Responsive Web Design</li>
          <li>Frontend Development</li>
          <li>Backend Development</li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
